<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium Projects" parallel="methods" thread-count="2">
    <listeners>
        <listener class-name="com.phanipramod.automation.runners.ProjectSuiteListener"/>
        <listener class-name="com.phanipramod.automation.core.reporting.AllureTestListener"/>
    </listeners>
    <test name="BDD Tests">
        <classes>
            <class name="com.phanipramod.automation.runners.CucumberTestRunner"/>
        </classes>
    </test>
</suite>
